*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Serif Display', serif;
    background-color: #f5f5f5;
    color: rgb(53, 53, 53);
}
ul{
    list-style: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo__container{
    width: 67%;
    margin: 0;
    padding: 0;
}
.logo {
    font-family: 'Changa One', cursive;
    font-size: 4em;
    font-weight: bold;
    color: #737373;
    padding: 30px 0px 30px 50px;
    margin: 0;
}
.logo span{
    color: rgb(75, 75, 75);
}
#botonCarrito{
    padding: 0px;
    text-align: center;
}
#botonCarrito i{
    font-size: 2.7em;
}
#containerTotal{
    padding: 20px;
    color: #fff;
    background-color: #373737;
}
#ingresarCodigo{
    cursor: pointer;
}
.seccion-1{
    margin: 50px 0px;
}
.seccion-1 .frase-1 h2{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 7.5em;
    font-weight: 500;
    color: #373737;
    line-height: 1;
    padding: 10px 15px 15px 15px ;
}
.seccion-1 .nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 6em;
    font-weight: 500;
    color: #373737;
    line-height: 1;
    padding: 0;
    width: 100%;
    text-align: center;
}
#nombre{
    padding: 15px;
    width: 400px;
    height: 200px;
    font-size: 9em;
    transform: rotate(350deg);
    align-items: center;
    display: flex;
    justify-content: center;
    animation-duration: 3s;
    animation-name: nombreAnimacion;
    animation-iteration-count: infinite;
}
@keyframes nombreAnimacion {
    0% {
        background-color: rgb(255, 166, 32);
        color:rgb(86, 96, 229);
        font-family: 'DM Serif Display', serif;
    }
    10%{
        background-color: rgb(159, 3, 110);
        color: rgb(249, 119, 197);
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
    20% {
        background-color: rgb(26, 3, 159);
        color: rgb(87, 193, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    30%{
        background-color: rgb(0, 0, 0);
        color: white;
        font-family: 'PT Serif', serif;
    }
    40%{
        background-color: rgb(4, 115, 33);
        color: rgb(241, 90, 2);
        font-family:'Inconsolata', monospace;
    }
    50%{
        background-color: rgb(225, 29, 104);
        color: rgb(255, 255, 255);
        font-family:'Passion One', cursive;
    }
    60%{
        background-color: rgb(96, 9, 162);
        color: rgb(3, 159, 139);
        font-family:'Changa One', cursive;
    }
    70%{
        background-color: rgb(225, 24, 24);
        color: rgb(47, 3, 159);
        font-family:'DM Serif Text', serif;
    }
    80%{
        background-color: rgb(24, 225, 68);
        color: rgb(159, 3, 110);
        font-family:'Changa One', cursive;
    }
    90%{
        background-color: rgb(3, 123, 159);
        color: rgb(119, 249, 229);
        font-family: 'Inter', sans-serif;
    }
    100% {
        background-color: rgb(255, 166, 32);
        color:rgb(86, 96, 229);
        font-family: 'DM Serif Display', serif;
}}
.seccion-1 .nav p{
    font-size: 2.1em;
    margin-top: 30px;
}
.seccion-1 aside {
    padding: 0;
}
.seccion-1 aside ul{
    padding: 0;
}
.seccion-1 aside ul li{
    padding: 5px;
    text-align: center;
} 
.seccion-1 aside ul li a{
    font-size: 1.8em;
    background-color: #373737;
    border: #373737;
}
.seccion-1 aside ul li a:hover{
    background-color: #0d0d0d;
} 
.seccion-2{
    margin: 120px 50px;
}
.seccion-2 .frase-2{
    font-family: 'Archivo Black', sans-serif;
    font-size: 6.8em;
    font-weight: bolder;
    color: #70707030;
    line-height: 1;
    text-align: right;
}
.seccion-2 h2{
    font-size: 7em;
    line-height: 0.8;
}
.seccion-2 p{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#calculator{
    margin: 50px;
}
.containerCalculadora{
    border:2px solid #373737;
    border-radius: 20px;
    font-family: 'Roboto Mono', monospace;
}
#totalCalorias{
    height: 130px;
    border: 2px solid #373737;
    border-radius: 20px;
    margin-top: 20px;
    text-align: right;
    padding: 0px 20px 15px 0px;
    font-size: 2em;
}
.caloriasTitulo{
    padding: 15px 0px 0px 0px;
    font-size: 1em;
}
#calculator{
    height: 510px;
}
#calculator form{
    display: flex;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
}
#calculator form div{
    width: 31%;
    margin: 3px;
    border: 2px solid #373737;
}
#calculator form select{
    border: 2px solid #373737;
}
#actividad{
    width: 100%;
}
#submitDatosCalculadora{
    padding: 10px;
    border: 2px solid #373737;
    border-radius: 10px;
}
.faqsContainer{
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
.faqsContainer h3{
    font-family: 'DM Serif Display', serif;
    font-size: 3em;
}
.faqsContainer button{
    font-size: 0.6em;
}
#programs{
    margin: 100px 50px 0px 50px;
}
#programs h3{
    font-size: 4em;
}
#programs .cardPlan{
    margin: 20px;
}
.modalForm{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#detallesPlan{
    margin: 40px;
}
.agregado{
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.agregado h6{
    margin: 0px;
}
.error{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.error h6{
    margin: 0px;
}
.roma{
    margin: 0px;
}
.roma p{
    width: 650px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.roma aside div{
    padding: 10px;
    width: 226px;
    height: 169px;
    font-family: 'DM Serif Display', serif;
    font-size: 105px;
}
.contact{
    margin: 100px 300px;
}
.contact h4{
    font-size: 4em;
}
.carritoCompras{
    background-color: #373737;
}
.carritoCompras{
    color: #fff;
}
.iconoRedes{
    padding: 30px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #0d0d0d;
}
footer{
    background-color: #373737;
    color: #f5f5f5;
    padding: 20px;
    text-align: center;
}